In [1]:
import numpy as np
# 创建一个符合正态分布的10个股票5天的涨跌幅数据
stock_change = np.random.normal(0, 1, (10, 5))

In [2]:
stock_change

array([[-1.13720122, -0.84705082, -0.60440383, -0.73866855,  0.05344463],
       [ 0.29567682, -0.31667872, -0.37763058,  2.01804873, -1.40196281],
       [-1.34192662, -0.2804509 , -0.59832513,  1.62005993,  0.15861407],
       [ 0.20890698, -1.31469504,  1.12355482, -0.3614694 , -0.12160037],
       [-1.30658235,  0.21281515,  0.97727974,  0.6746839 , -0.37363032],
       [-0.50643905, -1.09687183,  1.22872379, -0.02162671, -0.13752437],
       [-0.33069825,  0.44364817,  1.13212416,  1.173337  , -0.814093  ],
       [ 2.13563817,  0.18501467, -0.45195485,  0.62855199, -1.87797831],
       [-1.13506028,  0.78904043, -2.11002286,  0.30559254, -1.75032708],
       [-0.20780586, -1.00933445, -0.94466923,  1.0975878 , -0.93088614]])

In [3]:
import pandas as pd

In [4]:
pd.DataFrame(stock_change)

          0         1         2         3         4
0 -1.137201 -0.847051 -0.604404 -0.738669  0.053445
1  0.295677 -0.316679 -0.377631  2.018049 -1.401963
2 -1.341927 -0.280451 -0.598325  1.620060  0.158614
3  0.208907 -1.314695  1.123555 -0.361469 -0.121600
4 -1.306582  0.212815  0.977280  0.674684 -0.373630
5 -0.506439 -1.096872  1.228724 -0.021627 -0.137524
6 -0.330698  0.443648  1.132124  1.173337 -0.814093
7  2.135638  0.185015 -0.451955  0.628552 -1.877978
8 -1.135060  0.789040 -2.110023  0.305593 -1.750327
9 -0.207806 -1.009334 -0.944669  1.097588 -0.930886

In [5]:
# 添加行索引
stock = ["股票{}".format(i) for i in range(10)]

In [6]:
pd.DataFrame(stock_change, index=stock)

            0         1         2         3         4
股票0 -1.137201 -0.847051 -0.604404 -0.738669  0.053445
股票1  0.295677 -0.316679 -0.377631  2.018049 -1.401963
股票2 -1.341927 -0.280451 -0.598325  1.620060  0.158614
股票3  0.208907 -1.314695  1.123555 -0.361469 -0.121600
股票4 -1.306582  0.212815  0.977280  0.674684 -0.373630
股票5 -0.506439 -1.096872  1.228724 -0.021627 -0.137524
股票6 -0.330698  0.443648  1.132124  1.173337 -0.814093
股票7  2.135638  0.185015 -0.451955  0.628552 -1.877978
股票8 -1.135060  0.789040 -2.110023  0.305593 -1.750327
股票9 -0.207806 -1.009334 -0.944669  1.097588 -0.930886

In [7]:
# 添加列索引
date = pd.date_range(start="20220101", periods=5, freq="B")

In [8]:
date

DatetimeIndex(['2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06',
               '2022-01-07'],
              dtype='datetime64[ns]', freq='B')

In [9]:
data = pd.DataFrame(stock_change, index=stock, columns=date)

In [10]:
data

     2022-01-03  2022-01-04  2022-01-05  2022-01-06  2022-01-07
股票0   -1.137201   -0.847051   -0.604404   -0.738669    0.053445
股票1    0.295677   -0.316679   -0.377631    2.018049   -1.401963
股票2   -1.341927   -0.280451   -0.598325    1.620060    0.158614
股票3    0.208907   -1.314695    1.123555   -0.361469   -0.121600
股票4   -1.306582    0.212815    0.977280    0.674684   -0.373630
股票5   -0.506439   -1.096872    1.228724   -0.021627   -0.137524
股票6   -0.330698    0.443648    1.132124    1.173337   -0.814093
股票7    2.135638    0.185015   -0.451955    0.628552   -1.877978
股票8   -1.135060    0.789040   -2.110023    0.305593   -1.750327
股票9   -0.207806   -1.009334   -0.944669    1.097588   -0.930886

###  DataFrame的属性

In [11]:
data # shape (10, 5)

     2022-01-03  2022-01-04  2022-01-05  2022-01-06  2022-01-07
股票0   -1.137201   -0.847051   -0.604404   -0.738669    0.053445
股票1    0.295677   -0.316679   -0.377631    2.018049   -1.401963
股票2   -1.341927   -0.280451   -0.598325    1.620060    0.158614
股票3    0.208907   -1.314695    1.123555   -0.361469   -0.121600
股票4   -1.306582    0.212815    0.977280    0.674684   -0.373630
股票5   -0.506439   -1.096872    1.228724   -0.021627   -0.137524
股票6   -0.330698    0.443648    1.132124    1.173337   -0.814093
股票7    2.135638    0.185015   -0.451955    0.628552   -1.877978
股票8   -1.135060    0.789040   -2.110023    0.305593   -1.750327
股票9   -0.207806   -1.009334   -0.944669    1.097588   -0.930886

In [12]:
data.shape

(10, 5)

In [13]:
data.index

Index(['股票0', '股票1', '股票2', '股票3', '股票4', '股票5', '股票6', '股票7', '股票8', '股票9'], dtype='object')

In [14]:
data.columns

DatetimeIndex(['2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06',
               '2022-01-07'],
              dtype='datetime64[ns]', freq='B')

In [15]:
data.values

array([[-1.13720122, -0.84705082, -0.60440383, -0.73866855,  0.05344463],
       [ 0.29567682, -0.31667872, -0.37763058,  2.01804873, -1.40196281],
       [-1.34192662, -0.2804509 , -0.59832513,  1.62005993,  0.15861407],
       [ 0.20890698, -1.31469504,  1.12355482, -0.3614694 , -0.12160037],
       [-1.30658235,  0.21281515,  0.97727974,  0.6746839 , -0.37363032],
       [-0.50643905, -1.09687183,  1.22872379, -0.02162671, -0.13752437],
       [-0.33069825,  0.44364817,  1.13212416,  1.173337  , -0.814093  ],
       [ 2.13563817,  0.18501467, -0.45195485,  0.62855199, -1.87797831],
       [-1.13506028,  0.78904043, -2.11002286,  0.30559254, -1.75032708],
       [-0.20780586, -1.00933445, -0.94466923,  1.0975878 , -0.93088614]])

In [16]:
data.T

,股票0,股票1,股票2,股票3,股票4,股票5,股票6,股票7,股票8,股票9
2022-01-03,-1.137201,0.295677,-1.341927,0.208907,-1.306582,-0.506439,-0.330698,2.135638,-1.135060,-0.207806
2022-01-04,-0.847051,-0.316679,-0.280451,-1.314695,0.212815,-1.096872,0.443648,0.185015,0.789040,-1.009334
2022-01-05,-0.604404,-0.377631,-0.598325,1.123555,0.977280,1.228724,1.132124,-0.451955,-2.110023,-0.944669
2022-01-06,-0.738669,2.018049,1.620060,-0.361469,0.674684,-0.021627,1.173337,0.628552,0.305593,1.097588
2022-01-07,0.053445,-1.401963,0.158614,-0.121600,-0.373630,-0.137524,-0.814093,-1.877978,-1.750327,-0.930886

In [17]:
data.head(3)

     2022-01-03  2022-01-04  2022-01-05  2022-01-06  2022-01-07
股票0   -1.137201   -0.847051   -0.604404   -0.738669    0.053445
股票1    0.295677   -0.316679   -0.377631    2.018049   -1.401963
股票2   -1.341927   -0.280451   -0.598325    1.620060    0.158614

In [18]:
data.tail(2)

     2022-01-03  2022-01-04  2022-01-05  2022-01-06  2022-01-07
股票8   -1.135060    0.789040   -2.110023    0.305593   -1.750327
股票9   -0.207806   -1.009334   -0.944669    1.097588   -0.930886

### 修改行列索引值

In [ ]:
data.head()

In [ ]:
# data.index[2] = "股票88" 不能单独修改索引

In [ ]:
stock_ = ["股票_{}".format(i) for i in range(10)]

In [ ]:
data.index = stock_

In [ ]:
data.index

In [ ]:
data

### 重设索引

In [ ]:
data.reset_index(drop=False)

### 设置新索引

In [ ]:
df = pd.DataFrame({'month': [1, 4, 7, 10],
                    'year': [2012, 2014, 2013, 2014],
                    'sale':[55, 40, 84, 31]})

In [ ]:
df

In [ ]:
# 以月份设置新的索引
df.set_index("month", drop=True)

In [ ]:
# 设置多个索引，以年和月份
new_df = df.set_index(["year", "month"])

In [ ]:
new_df.index

In [ ]:
new_df.index.names

In [ ]:
new_df.index.levels

### Series

In [ ]:
sr = data.iloc[1, :]

In [ ]:
sr

In [ ]:
sr.index

In [ ]:
sr.values

In [ ]:
type(sr.values)

In [ ]:
pd.Series(np.arange(3, 9, 2), index=["a", "b", "c"])

In [ ]:
pd.Series({'red':100, 'blue':200, 'green': 500, 'yellow':1000})

### 4.2 基本数据操作

In [ ]:
data = pd.read_csv("./stock_day/stock_day.csv")

In [ ]:
data

In [ ]:
data = data.drop(["ma5","ma10","ma20","v_ma5","v_ma10","v_ma20"], axis=1)

In [ ]:
data

In [ ]:
stock_change[1, 1]

In [ ]:
# data[1, 0] 不能直接进行数字索引

In [ ]:
data.head()

In [ ]:
data["open"]["2018-02-26"]

In [ ]:
# data["2018-02-26"]["open"] 必须先列后行

In [ ]:
data.loc["2018-02-26"]["open"]

In [ ]:
data.loc["2018-02-26", "open"]

In [ ]:
data.iloc[1, 0]

### 4.2.2 赋值操作

In [ ]:
data.open = 100

In [ ]:
data.iloc[1, 0] = 222

In [ ]:
data.head()

### 4.2.3 排序

In [ ]:
data.sort_values(by=["high", "p_change"], ascending=False).head()

In [ ]:
data.sort_index().head()

In [ ]:
sr = data["price_change"]

In [ ]:
sr.sort_values(ascending=False).head()

In [ ]:
sr.sort_index().head()

### 4.3.1 算术运算

In [ ]:
data["open"].add(3).head()

In [ ]:
data.sub(100).head()

In [ ]:
data["close"].sub(data["open"]).head()

### 1 逻辑运算符号<、 >、|、 &

In [ ]:
# 例如筛选p_change > 2的日期数据
data[data["p_change"] > 2].head()

In [ ]:
# 完成一个多个逻辑判断， 筛选p_change > 2并且low > 15
data[(data["p_change"] > 2) & (data["low"] > 15)].head()

In [ ]:
data.query("p_change > 2 & low > 15").head()

In [ ]:
# 判断'turnover'是否为4.19, 2.39
data[data["turnover"].isin([4.19, 2.39])]

### 4.3.3 统计运算

In [ ]:
data.describe()

In [ ]:
data.head()

In [ ]:
data.max(axis=0)

In [ ]:
data.idxmax(axis=0)

### 4.3.4 累计统计函数

In [ ]:
data["p_change"].sort_index().cumsum().plot()

### 4.3.5 自定义运算

In [ ]:
data.apply(lambda x: x.max() - x.min())

In [ ]:
data.head()

In [ ]:
data["volume"].max() - data["volume"].min()

In [ ]:
data.plot(x="volume", y="turnover", kind="scatter")

In [ ]:
data.plot(x="high", y="low", kind="scatter")

### 1 读取csv文件-read_csv()

In [ ]:
pd.read_csv("./stock_day/stock_day.csv", usecols=["high", "low", "open", "close"]).head()

In [ ]:
data = pd.read_csv("stock_day2.csv", names=["open", "high", "close", "low", "volume", "price_change", "p_change", "ma5", "ma10", "ma20", "v_ma5", "v_ma10", "v_ma20", "turnover"])

In [ ]:
# 保存'open'列的数据
data[:10].to_csv("test.csv", columns=["open"])

In [ ]:
pd.read_csv("test.csv")

In [ ]:
data[:10].to_csv("test.csv", columns=["open"], index=False, mode="a", header=False)

### 4.5.3 JSON

In [ ]:
sa = pd.read_json("Sarcasm_Headlines_Dataset.json", orient="records", lines=True)

In [ ]:
sa

In [ ]:
sa.to_json("test.json", orient="records", lines=True)